.contact {
	display: flex;
	justify-content: center;
}

.contact-email {
	//      display: flex;
	//   flex-direction: column;
	//   justify-content: center;
	//   align-items: center;
	display: block;
	margin: 0 auto;
	width: 250px;
}

.contact-question {
	display: block;
	margin: 0 auto;
	width: 300px;
}

// .font{
//     font-family: Monaco;
// }

.contact-page {
	background-color: #d1f2f3;
	height: 100vh;
    overflow: auto;
}
