.home-title{
    
	text-align: center;
}

.home-content{
    text-align: center;
    font-size: x-large;
}

.intro{
    font-size: medium;
    margin-left: 100px;
    margin-right: 100px;
    border-style: double;
    text-align: center;
}